



<h1> Convert <%= @bc %> </h1> 

<p>Go<a href="/"> back.</a></p>

<ul>

<% a = 0 %>


  <% @currencies.keys.each do |tc| %>

    <li>
      <a href= "/<%= @bc %>/<%= tc %>">Convert 1 <%= @bc %> to <%= tc %></a>
    </li>

  <% a += 1 %>

  <% end %>
  
 

</ul>
